beautifulsoup4
coverage
htmltabletomd
Levenshtein
matplotlib
nltk
numpy
openxlab #安装opendatalab
pandas
pyopenssl==24.0.0
pypandoc
pytest
pytest-cov
rapidfuzz
scikit-learn
scipy
seaborn
statistics
struct-eqtable==0.1.0
tqdm
